/* Css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Css reset finished */
body {
  background-color: hsl(180, 52%, 96%);
}
.mx-auto {
  margin: 0 auto;
}

.header {
  background-image: url("./FrontendMentorFiles/images/bg-header-desktop.svg");
  background-color: hsl(180, 29%, 50%);
  height: 30vh;
  width: 100%;
}

.new-tag {
  margin: 0 5px !important;
  background-color: hsl(180, 55%, 53%);
  color: #fff;
  border-radius: 6px;
  font-size: 10px !important;
  height: 16px;
  width: 30px;
  padding-left: 5px;
}

.featured-tag {
  /* margin: 0 5px !important; */
  background-color: hsl(180, 14%, 20%);
  color: #fff;
  border-radius: 6px;
  font-size: 10px !important;
  height: 15px;
  padding: 0 4px;
}

.list-style {
  list-style: circle;
  list-style: disc;
}

.card {
  background-color: #fff;
}

.attribute-tag {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  border-radius: 5px;
  padding: 0.2rem 0.3rem;
  font-family: "Spartan" !important;
  font-weight: 700 !important;
}

.attribute-tag:hover{
  background-color:  hsl(180, 29%, 50%)
  ;
  color: #fff;
 cursor: pointer;
}

.user-logo{
  width: 70px;
  margin: 0 1.3rem;
}

.search-bar{
  margin: 0 auto !important;
  padding: 0.7rem 0;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 26vh;
}

.spacer{
  height: 60px;
  margin: 0 0 -50px 0;
}

.spacer-lg{
  height: 70px;
}
.d-none{
  display: none;
}
.clear-tag{
  color: hsl(180, 29%, 50%);
}
.clear-tag:hover{
  cursor: pointer;
  text-decoration: underline;
}
.searchlist-tag{
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  padding: 0 0.3rem;
  font-weight: 700 !important;
}

.clear-icon{
  background-color: hsl(180, 29%, 50%);
  color: #fff;
  font-size: 19px !important;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.clear-icon:hover{
  cursor: pointer;
  background-color: black;
}

/* Mobile */

.mobile-hr{
  width: 90%;
  margin-right: 1.3rem;
}

.user-logo-mobile{
  width: 45px;
  position: absolute;
  top: -30px;
  left: 20px;
}
