/* body {
  background-color: black;
} */
body {
  background-color: hsl(180, 52%, 96%);

  /* background-color: black; */
}
.mx-auto {
  margin: 0 auto;
}

.new-tag {
  margin: 0 5px !important;
  background-color: hsl(180, 55%, 53%);
  color: #fff;
  border-radius: 6px;
  font-size: 10px !important;
  height: 16px;
  width: 30px;
  padding-left: 5px;
}

.featured-tag {
  /* margin: 0 5px !important; */
  background-color: hsl(180, 14%, 20%);
  color: #fff;
  border-radius: 6px;
  font-size: 10px !important;
  height: 15px;
  padding: 0 4px;
}

.list-style {
  list-style: circle;
  list-style: disc;
}

.card {
  background-color: #fff;
}

.attribute-tag {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  padding: 0 0.3rem;
}

.attribute-tag:hover{
  background-color:  hsl(180, 29%, 50%)
  ;
  color: #fff;
 cursor: pointer;
}

.user-logo{
  width: 70px;
  margin: 0 1.3rem;
}

.search-bar{
  margin: 0 auto !important;
  padding: 0.7rem 0;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 21vh;
}
.d-none{
  display: none;
}
.clear-tag{
  color: hsl(180, 29%, 50%);
}
.clear-tag:hover{
  cursor: pointer;
  text-decoration: underline;
}
.searchlist-tag{
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  padding: 0 0.3rem;
}

.clear-icon{
  background-color: hsl(180, 29%, 50%);;
  color: #fff;
  font-size: 19px !important;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.clear-icon:hover{
  cursor: pointer;
  background-color: black;
}